# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Dependency directories
node_modules/
vendor/

# Build directories
dist/
build/
out/

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*.bak

# IDE and editor settings
.vscode/
.idea/
*.iml

# Environment files
.env
.env.local

# System files
*.~*
